.header {
	display: grid;
	grid-template-columns: 30px auto 30px;
	padding: 1em;
	box-shadow: 0 2px 18px -14px #0000001a, 0 4px 6px -2px #0000001a;

	&__title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
    }

    &__link {
        color: inherit;
		text-decoration: none;
    }
}
