.header {
	padding: 18px;

	&__title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
    }

    &__link {
        color: inherit;
		text-decoration: none;
    }
}
