.header {
    padding: 18px;

    &__title {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 12px;
        max-width: 205px;
    }

    &__subtitle {
        text-align: center;
        max-width: 496px;
        margin: 0 auto;
    }

    &__link {
        color: inherit;
    }
}
